# خواندن داده ها

In [8]:
import pandas as pd
df = pd.read_csv('/ds/Divar_real_state.csv')
cc = pd.read_csv('/ds/iran_city_classification.csv')

C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\1439389738.py:2: DtypeWarning: Columns (11,27,29,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/ds/Divar_real_state.csv')

In [9]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [10]:
cc.columns = [c.replace('\u200c', ' ') for c in cc.columns]
cc['دسته بندی'] = cc['دسته بندی'].str.replace('\u200c', ' ', regex=False)

# بارگذاری ماژول ها

In [11]:
import numpy as np
from scipy.stats import ttest_ind, mannwhitneyu, levene, shapiro
import independent_groups_continues_dependent as i

## سوال 1: مقایسه میانگین مساحت مساکن در کلان شهر ها و در شهرهای کوچک/روستا ها

In [5]:
df_1 = df.copy()
df_1.rename(columns={'city_slug': 'نام شهر'}, inplace=True)
df_1 = df_1.dropna(subset=['building_size'])
df_1 = df_1.merge(cc, on='نام شهر', how='left')

metro = df_1[df_1['دسته بندی'] == 'کلان شهر']
small = df_1[df_1['دسته بندی'] != 'کلان شهر']

#two groups are independent and have ordinal or continues dependent value
#so we use python file for this situation called: independent_groups_continues_dependent.py

col = 'building_size'

i.compare_two_groups(metro[col], small[col])

======================================
 Hypothesis Tests: Metro vs Small Cities
======================================

=== Hypotheses ===
H0: Mean(Group1) = Mean(Group2)
H1: Mean(Group1) != Mean(Group2) (alternative='two-sided')

Sample sizes: Group1=455121, Group2=525273

Large sample sizes → use t-test via CLT, skip Shapiro-Wilk

=== Welch's t-test Result ===
t-statistic: -14.1441, p-value: 0.0000
Decision: Reject H0

==================================================

## سوال 2: مقیسه میانگین مساحت خانه های قدیمی و جدید

In [12]:
df_2 = df[df['cat3_slug'].isin(['villa', 'apartment-sell', 'apartment-rent', 'plot-old', 'house-villa-sell', 'house-villa-rent', 'suite-apartment'])]
df_2 = df.dropna(subset=['construction_year'])

df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'

def persian_to_english_number(s):
    if pd.isna(s):  # handle NaNs
        return s
    persian_digits = '۰۱۲۳۴۵۶۷۸۹'
    english_digits = '0123456789'
    for p, e in zip(persian_digits, english_digits):
        s = s.replace(p, e)
    return s
    
    
df_2['construction_year'] = df_2['construction_year'].apply(persian_to_english_number)
old = df_2[df_2['construction_year'].astype(int) < 1396]
new = df_2[df_2['construction_year'].astype(int) >= 1396]

col = 'land_size'

i.compare_two_groups(new[col], old[col])

C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '۱۳۶۹' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_2[df_2['construction_year'] == 'قبل از ۱۳۷۰'] = '۱۳۶۹'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_18004\564198601.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['construction_year'] = df_2['construction_year'].apply(persian_to_english_number)

=== Hypotheses ===
H0: Mean(Group1) = Mean(Group2)
H1: Mean(Group1) != Mean(Group2) (alternative='two-sided')

Sample sizes: Group1=815828, Group2=0

=== Shapiro-Wilk Test for Normality ===
Group1: W=nan, p-value=nan → looks normal (do not reject H0)
Group2: W=nan, p-value=nan → looks normal (do not reject H0)

Both groups normal → check variances with Levene's test
Levene W=nan, p-value=nan

=== Hypotheses ===
H0: Mean(Group1) = Mean(Group2)
H1: Mean(Group1) != Mean(Group2) (alternative='two-sided')

Variances equal → use standard independent t-test

=== t-test Result ===
t-statistic: nan, p-value: nan
Decision: Do not reject H0

==================================================

D:\GitHub\Quera_p1\statistical_analysis\hypothesis_test\independent_groups_continues_dependent.py:31: SmallSampleWarning: One or more sample arguments is too small; all returned values will be NaN. See documentation for sample size requirements.
  stat, p = shapiro(data)

In [23]:
df['construction_year'].unique()

array([nan, '۱۳۸۴', '۱۴۰۱', '۱۴۰۰', '۱۴۰۳', '۱۳۸۹', '۱۳۹۵', '۱۳۹۳',
       '۱۳۹۶', '۱۳۸۷', '۱۳۸۵', '۱۳۹۰', '۱۳۹۸', '۱۴۰۲', '۱۳۸۸',
       'قبل از ۱۳۷۰', '۱۳۹۲', '۱۳۸۳', '۱۳۹۴', '۱۳۹۱', '۱۳۸۰', '۱۳۷۸',
       '۱۳۷۵', '۱۳۹۷', '۱۳۹۹', '۱۳۸۲', '۱۳۸۶', '۱۳۷۹', '۱۳۷۲', '۱۳۷۴',
       '۱۳۷۶', '۱۳۷۷', '۱۳۷۱', '۱۳۸۱', '۱۳۷۳'], dtype=object)

In [14]:
df[df['cat3_slug'].isin(['presell',
 'partnership'])][['cat3_slug', 'land_size', 'building_size']].head(100)

        cat3_slug  land_size  building_size
125       presell        NaN            NaN
127       presell        NaN            NaN
203   partnership        NaN            NaN
243       presell        NaN            NaN
435       presell        NaN            NaN
492       presell        NaN            NaN
516       presell        NaN            NaN
586   partnership        NaN            NaN
640       presell        NaN            NaN
698       presell        NaN            NaN
731       presell        NaN            NaN
917       presell        NaN            NaN
1195      presell        NaN            NaN
1216      presell        NaN            NaN
1528      presell        NaN            NaN
1597      presell        NaN            NaN
1651      presell        NaN            NaN
1690      presell        NaN            NaN
1702      presell        NaN            NaN
1822      presell        NaN            NaN
1847      presell        NaN            NaN
1938      presell        NaN            NaN
1943  partnership        NaN            NaN
2105      presell        NaN            NaN
2173      presell        NaN            NaN
2175  partnership        NaN            NaN
2194      presell        NaN            NaN
2198      presell        NaN            NaN
2348      presell        NaN            NaN
2490      presell        NaN            NaN
2627      presell        NaN            NaN
2778      presell        NaN            NaN
2808  partnership        NaN            NaN
2822      presell        NaN            NaN
2927  partnership        NaN            NaN
2928      presell        NaN            NaN
3022      presell        NaN            NaN
3065      presell        NaN            NaN
3150      presell        NaN            NaN
3156      presell        NaN            NaN
3213      presell        NaN            NaN
3215  partnership        NaN            NaN
3261      presell        NaN            NaN
3268      presell        NaN            NaN
3278  partnership        NaN            NaN
3288      presell        NaN            NaN
3297      presell        NaN            NaN
3357  partnership        NaN            NaN
3368      presell        NaN            NaN
3447      presell        NaN            NaN
3479      presell        NaN            NaN
3491      presell        NaN            NaN
3506  partnership        NaN            NaN
3554      presell        NaN            NaN
3605  partnership        NaN            NaN
3629      presell        NaN            NaN
3645      presell        NaN            NaN
3658      presell        NaN            NaN
3691      presell        NaN            NaN
3732  partnership        NaN            NaN
3738      presell        NaN            NaN
3867      presell        NaN            NaN
4093      presell        NaN            NaN
4095      presell        NaN            NaN
4110      presell        NaN            NaN
4117      presell        NaN            NaN
4200  partnership        NaN            NaN
4245      presell        NaN            NaN
4519      presell        NaN            NaN
4551      presell        NaN            NaN
4615      presell        NaN            NaN
4658      presell        NaN            NaN
4761      presell        NaN            NaN
4793  partnership        NaN            NaN
4877      presell        NaN            NaN
4904  partnership        NaN            NaN
4974      presell        NaN            NaN
5266  partnership        NaN            NaN
5346      presell        NaN            NaN
5369  partnership        NaN            NaN
5379      presell        NaN            NaN
5408      presell        NaN            NaN
5509      presell        NaN            NaN
5540      presell        NaN            NaN
5544      presell        NaN            NaN
5549      presell        NaN            NaN
5551  partnership        NaN            NaN
5581      presell        NaN            NaN
5589      presell        NaN            NaN
5598      presell        NaN            NaN
5652      presell        NaN            NaN
5665  partnership        NaN            NaN
5776      presell        NaN            NaN
5805      presell        NaN            NaN
5827  partnership        NaN            NaN
6003      presell        NaN            NaN
6014      presell        NaN            NaN
6152      presell        NaN            NaN
6175      presell        NaN            NaN
6190      presell        NaN            NaN

In [17]:
df[df['cat3_slug'].isin(['presell',
 'partnership'])]['building_size'].info()

<class 'pandas.core.series.Series'>
Index: 19403 entries, 125 to 999994
Series name: building_size
Non-Null Count  Dtype
--------------  -----
6 non-null      float64
dtypes: float64(1)
memory usage: 303.2 KB

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 60 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   cat2_slug                   1000000 non-null  object
 1   cat3_slug                   999999 non-null   object
 2   city_slug                   999998 non-null   object
 3   neighborhood_slug           437139 non-null   object
 4   created_at_month            1000000 non-null  object
 5   user_type                   288882 non-null   object
 6   description                 1000000 non-null  object
 7   title                       999946 non-null   object
 8   rent_mode                   352994 non-null   object
 9   rent_value                  351322 non-null   float64
 10  rent_to_single              19 non-null       object
 11  rent_type                   103961 non-null   object
 12  price_mode                  573606 non-null   object
 13  price_value                 568346 non-null   float64
 14  credit_mode                 352994 non-null   object
 15  credit_value                352095 non-null   float64
 16  rent_credit_transform       352985 non-null   object
 17  transformable_price         352894 non-null   object
 18  transformable_credit        352085 non-null   float64
 19  transformed_credit          72409 non-null    float64
 20  transformable_rent          351248 non-null   float64
 21  transformed_rent            72409 non-null    float64
 22  land_size                   186396 non-null   float64
 23  building_size               980394 non-null   float64
 24  deed_type                   253458 non-null   object
 25  has_business_deed           34679 non-null    object
 26  floor                       541748 non-null   object
 27  rooms_count                 845899 non-null   object
 28  total_floors_count          304352 non-null   object
 29  unit_per_floor              302283 non-null   object
 30  has_balcony                 506411 non-null   object
 31  has_elevator                541749 non-null   object
 32  has_warehouse               728155 non-null   object
 33  has_parking                 728156 non-null   object
 34  construction_year           815828 non-null   object
 35  is_rebuilt                  529470 non-null   object
 36  has_water                   33444 non-null    object
 37  has_warm_water_provider     379500 non-null   object
 38  has_electricity             33445 non-null    object
 39  has_gas                     33430 non-null    object
 40  has_heating_system          368969 non-null   object
 41  has_cooling_system          350619 non-null   object
 42  has_restroom                406913 non-null   object
 43  has_security_guard          31312 non-null    object
 44  has_barbecue                31198 non-null    object
 45  building_direction          323923 non-null   object
 46  has_pool                    29390 non-null    object
 47  has_jacuzzi                 28728 non-null    object
 48  has_sauna                   28479 non-null    object
 49  floor_material              405984 non-null   object
 50  property_type               27057 non-null    object
 51  regular_person_capacity     29870 non-null    float64
 52  extra_person_capacity       24009 non-null    object
 53  cost_per_extra_person       10241 non-null    float64
 54  rent_price_on_regular_days  18068 non-null    float64
 55  rent_price_on_special_days  10463 non-null    float64
 56  rent_price_at_weekends      13551 non-null    float64
 57  location_latitude           655608 non-null   float64
 58  location_longitude          655608 non-null   float64
 59  location_radius             339699 non-null   float64
dtypes: float64(17), object(43)
memory usage: 457.8+ MB